<div id="header">
  <div class="container">
    <div id="header-logo">
      <a href="http://<%=domain%>">farthr</a>
    </div>
    <div id="user-nav">
      <form class="inline">
        <div class="control-block">
          <label for="email">Email</label>
          <input type="email" name="email" />
        </div>
        <div class="control-block">
          <label for="password">Password
            <span id="forgot-password"><a href="/forgot-password" tabindex="3">Forgot password</a></span>
          </label>
          <input type="password" name="password" />
        </div>
        <div class="control-block">
          <button id="sign-in">Sign In</button>
        </div>
      </div>
    </div>
  </div>
</div>